doctype 5
html(lang="fr")
	head
		title Login
		link(rel="stylesheet", type="text/css", href="../css/bootstrap.css")
		link(rel="stylesheet", type="text/css", href="../css/bootstrap-responsive.css")
	body
		div.container
			div.jumbotron
				h1 Hello #{email}
		script(type="text/javascript", src="../js/jquery-1.10.2.js")
		script(type="text/javascript", src="../js/bootstrap.js")